[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = "*"
openai = "*"
openai-whisper = "*"
tenacity = "*"
aiolimiter = "*"
kivy = "*"
asynckivy = "*"
twisted = "*"
python-dotenv = "*"
gtts = "*"
pygame = "*"
fasttext-langdetect = "*"
TTS = "0.17.8" 

[dev-packages]

[requires]
python_version = "3.11"
